<aside class="cart-summary">
  <h3 class="cart-summary__title">{{ 'common.cart.summary.title' | translate }}</h3>

  <div class="cart-summary__details">
    <div class="cart-summary__row">
      <span class="cart-summary__label">{{ 'common.cart.summary.total_items' | translate }}</span>
      <span class="cart-summary__value">{{ totalItems }}</span>
    </div>

    <div class="cart-summary__row">
      <span class="cart-summary__label">{{ 'common.cart.summary.total_price' | translate }}</span>
      <span class="cart-summary__value cart-summary__total">{{ getFormattedPrice(totalPrice) }}</span>
    </div>
  </div>

  <button class="cart-summary__pay-button" disabled title="Checkout will be available in the next phase">
    {{ 'common.cart.summary.pay_button' | translate }}
  </button>
</aside>
