.product-grid {
    --card-width: 160px;
    --card-padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: flex-start;
    width: 100%;
}


@media (max-width: 640px) {
    .product-grid {
        justify-content: flex-start;
        gap: 16px;
    }
}

@media (min-width: 768px) {
    .product-grid {
        --card-width: 220px;
        --card-padding: 20px;
    }
}

.offers-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px !important;
    width: 100%;
    --card-width: 160px;
    --card-padding: 12px;
}

@media (min-width: 768px) {
    .offers-grid {
        gap: 20px !important;
        --card-width: 220px;
        --card-padding: 20px;
    }
}

@media (min-width: 1024px) {
    .offers-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    .offers-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
